<% layout('layouts/boilerplate')%>
    
    <h1 class="mb-5 text-center">Dashboard</h1>

    <div class="row mb-4">
        <div class="col">
                <!-- 1. E-Sports -->
                <div class="card shadow mb-4 p-3" style="border-radius: 20px;">
                    <div class="card-body">
                        <div class="card special_main shadow d-inline-flex mb-4">
                            <h5 class="px-3 py-2 my-auto">E-Sports
                        </div>
                        <p class="card-text">
                            <small class="text-muted">
                                Lorem, ipsum dolor.
                            </small>
                        </p>
                        <p class="card-text d-none d-md-block">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, atque!
                        </p>
                        <a class="btn btn-primary" href="/esports">Details</a>
                    </div>
                </div>
                <!-- 2. Sports -->
                <div class="card shadow mb-4 p-3" style="border-radius: 20px;">
                    <div class="card-body">
                        <div class="card special_main shadow d-inline-flex mb-4">
                            <h5 class="px-3 py-2 my-auto">Sports
                        </div>
                        <p class="card-text">
                            <small class="text-muted">
                                Lorem, ipsum dolor.
                            </small>
                        </p>
                        <p class="card-text d-none d-md-block">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, atque!
                        </p>
                        <a class="btn btn-primary" href="/sports">Details</a>
                    </div>
                </div>
                <!-- 3. Walking Steps -->
                <div class="card shadow mb-4 p-3" style="border-radius: 20px;">
                    <div class="card-body">
                        <div class="card special_main shadow d-inline-flex mb-4">
                            <h5 class="px-3 py-2 my-auto">Distance
                        </div>
                        <p class="card-text">
                            <small class="text-muted">
                                Lorem, ipsum dolor.
                            </small>
                        </p>
                        <p class="card-text d-none d-md-block">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, atque!
                        </p>
                        <a class="btn btn-primary" href="/distance">Details</a>
                    </div>
                </div>
                <!-- 4. Shop -->
                <div class="card shadow mb-4 p-3" style="border-radius: 20px;">
                    <div class="card-body">
                        <div class="card special_main shadow d-inline-flex mb-4">
                            <h5 class="px-3 py-2 my-auto">Shopping
                        </div>
                        <p class="card-text">
                            <small class="text-muted">
                                Lorem, ipsum dolor.
                            </small>
                        </p>
                        <p class="card-text d-none d-md-block">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, atque!
                        </p>
                        <a class="btn btn-primary" href="/shop">Details</a>
                    </div>
                </div>
                <!-- 5. Vaccination -->
                <div class="card shadow mb-4 p-3" style="border-radius: 20px;">
                    <div class="card-body">
                        <div class="card special_main shadow d-inline-flex mb-4">
                            <h5 class="px-3 py-2 my-auto">Vaccination
                        </div>
                        <p class="card-text">
                            <small class="text-muted">
                                Lorem, ipsum dolor.
                            </small>
                        </p>
                        <p class="card-text d-none d-md-block">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, atque!
                        </p>
                        <a class="btn btn-primary" href="/vaccination">Details</a>
                    </div>
                </div>
                <div class="card shadow mb-4 p-3" style="border-radius: 20px;">
                    <img src="assets/imgs/sports.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/imgs/sports.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div><!-- row -->