<% layout('layouts/boilerplate')%>
    
    <h1 class="mb-5 text-center">Calculate your Steps</h1>

    <div class="row mb-4">
        <div class="col">
                <!-- 1. E-Sports -->
                <div class="card shadow mb-4 p-3" style="border-radius: 20px;">
                    <div class="card-body">
                        <div class="card special_main shadow d-inline-flex mb-4">
                            <h5 class="px-3 py-2 my-auto">E-Sports
                        </div>
                        <p class="card-text">
                            <small class="text-muted">
                                Lorem, ipsum dolor.
                            </small>
                        </p>
                        <p class="card-text d-none d-md-block">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, atque!
                        </p>
                        <a class="btn btn-primary" href="/esports">Details</a>
                    </div>
                </div>
        </div>
    </div><!-- row -->