<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">  
    <title>Health</title>

    <!-- Poppins font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- Home.css -->
    <link rel="stylesheet" href="/css/home.css">
    
</head>

<body class="h-100">
    <div class="d-flex flex-column h-100">
        <div class="container mt-2">
            <%- include('./partials/navbar')%>
        </div>
        
        <div class="container col-xxl-8 px-4 py-5">
            <%- include('./partials/flash') %>
            <div class="row flex-lg-row-reverse flex-column-reverse align-items-center g-5">
                <div class="col-10 col-sm-8 col-lg-6">
                <img src="assets/imgs/hospital.png" class="d-block mx-lg-auto img-fluid"width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3 text-lg-start text-center">Health</h1>
                <p class="lead text-lg-start text-center">Welcome to Health! <br> Jump right in and meet our many doctors. <br>
                    Feel free to make an appointment and check our services!</p>
                <div class="d-grid gap-2 d-flex justify-content-center justify-content-lg-start mt-3">
                    <a href="/patient/appointments" class="btn btn_outline_blue btn-lg px-4 me-sm-3">Get Started</a>
                    
                    <% if(!currentUser) { %> 
                        <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn_outline_blue btn-lg px-4 me-sm-3">Login</button>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#registerModal" class="btn btn_outline_blue btn-lg px-4">Register</button>
                    <% } %> 
                </div>
                </div>
            </div>
        </div>
        <footer class="d-flex mx-auto mt-auto justify-content-center">
            <p class="text-dark">&copy; Health 2021 </p>
        </footer>
    </div>
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h4 class="modal-title" id="loginModalLabel">Login</h4>
                </div>
                <form action="/login" method="POST" novalidate class="validated-form">
                    <div class="modal-body p-4">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h4 class="modal-title" id="registerModalLabel">Register</h4>
                </div>
                <form action="/register" method="POST" novalidate class="validated-form">
                    <div class="modal-body p-4">
                        <div class="mb-3">
                            <label class="form-label" for="firstName">First Name</label>
                            <input class="form-control" type="text" name="firstName" id="firstName" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="lastName">Last Name</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="age">Age</label>
                            <input class="form-control" type="number" name="age" id="age" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" name="username" id="username" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" name="email" id="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- bootstrap form validation -->
<script src="/js/validateForms.js"></script>

</body>


</html>